<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>时钟</title>
    <style>
        body{
            margin: 0;
            padding: 0;
            background: orange;
        }
        canvas{
            display: block;
            margin: 100px auto;
            background-color: antiquewhite;
            /* background-image: url(../images/username.png);
            background-position: 96px -90px;
            background-repeat: no-repeat;
            background-size: 75%; */
        }
    </style>
</head>
<body>
    <canvas class='clock' width="800" height="400"></canvas>
</body>
<script>
    var clock=document.querySelector('.clock')
    var ctx=clock.getContext('2d')

    // 画出时针,分针，秒针
    function hand(){
        ctx.clearRect(0,0,800,400)
         // 画一个表盘
        function createBox(){
            ctx.beginPath()
            ctx.strokeStyle='#000'
            ctx.lineWidth=10;
            ctx.arc(400,200,180,0,Math.PI*2)
            ctx.stroke()
            ctx.closePath()
        }
        createBox()

        //画小时刻度

        /**
        * Scale 刻度构造函数
        * @class Scale
        * startX 刻度起始位置横坐标
        * startY 刻度起始位置纵坐标
        * endX 刻度结束位置横坐标
        * endY 刻度结束位置纵坐标
        * rotate 刻度旋转的角度
        * lineW 刻度宽度
        */
        function Scale(startX,startY,endX,endY,rotate,lineW){
            this.startX=startX
            this.startY=startY
            this.endX=endX
            this.endY=endY
            this.rotate=rotate
            this.lineW=lineW
        }

        Scale.prototype={
            init:function(){
                ctx.save()
                ctx.translate(400,200)
                ctx.lineWidth=this.lineW
                ctx.beginPath()
                ctx.rotate(this.rotate*Math.PI/180)
                ctx.moveTo(this.startX,this.startY)
                ctx.lineTo(this.endX,this.endY)
                ctx.closePath()
                ctx.stroke()
                ctx.restore()
            }
        }
        // 时针刻度
        for(var i=0;i<12;i++){
            var hourScale=new Scale(0,-170,0,-155,30*i,10)
            hourScale.init()
        }

        // 分针刻度
        for(var i=0;i<60;i++){
            var hourScale=new Scale(0,-170,0,-160,6*i,5)
            hourScale.init()
        } 

        
        var mytime=new Date()
        // 获取小时
        var hour=mytime.getHours()
        // 获取分钟
        var min=mytime.getMinutes()
        // 获取秒钟
        var sec=mytime.getSeconds()
        hour=hour>12?hour-12:hour
        // 获取分针旋转角度
        min=(min*60+sec)/60
        // 获取时针旋转角度
        hour=(hour*60+min)/60
        
        // 时针
        ctx.save()
        ctx.translate(400,200)
        ctx.lineWidth=8
        ctx.beginPath()
        ctx.rotate(hour*30*Math.PI/180)
        ctx.moveTo(0,-100)
        ctx.lineTo(0,10)
        ctx.closePath()
        ctx.stroke()
        ctx.restore()

        // 分针
        ctx.save()
        ctx.translate(400,200)
        ctx.lineWidth=8
        ctx.beginPath()
        ctx.rotate(min*6*Math.PI/180)
        ctx.moveTo(0,-140)
        ctx.lineTo(0,15)
        ctx.closePath()
        ctx.stroke()
        ctx.restore()

        // 秒针
        ctx.save()
        ctx.translate(400,200)
        ctx.lineWidth=4
        ctx.strokeStyle='red'
        ctx.beginPath()
        ctx.rotate(sec*6*Math.PI/180)
        ctx.moveTo(0,-150)
        ctx.lineTo(0,20)
        ctx.closePath()
        ctx.stroke()
        ctx.beginPath()
        ctx.arc(0,0,6,0,Math.PI*2)
        ctx.fillStyle='red'
        ctx.fill()
        ctx.strokeStyle='#000'
        ctx.lineWidth=2
        ctx.closePath()
        ctx.restore()

        
        // 画出点数
        for(var i=1;i<=12;i++){
            ctx.save()
            ctx.translate(400,200)
            ctx.font='20px Arial'
            ctx.textBaseline="middle"
            ctx.textAlign='center'
            if( i==12 || i==3 || i==6 || i==9 ){
                ctx.font='30px Arial'
                ctx.fillText(i,(140)*Math.sin(30*i*Math.PI/180),(-140)*Math.cos(30*i*Math.PI/180))
            }
            ctx.restore()
        }
    }
    hand()
    setInterval(function(){
        hand()
    },1000)
</script>
</html>