<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
<style>
        body{
            margin: 0;
            padding: 0;
        }
        canvas{
            display: block;
            background: #000;
        }
    </style>
</head>
<body>
    <canvas class='star'></canvas>
</body>
<script>
    var w=window.innerWidth; //获取显示器的宽度
    var h=window.innerHeight; //获取显示器的高度
    var star=document.querySelector('.star')
    ~~function setSize(){
        window.onresize=arguments.callee
        w=window.innerWidth
        h=window.innerHeight 
        star.width=w
        star.height=h
    }()

    // 画一个圆
    var ctx=star.getContext('2d')
    // ctx.beginPath()
    // ctx.fillStyle='#fff'
    // ctx.arc(w/2,h/2,0.4,0,Math.PI*2)
    // ctx.fill()

    // 获取随机数
    function Random(x,y){
        return Math.random()*(y-x)+x
    }

    // 定义一个球颜色的素组
    var aColor=['#CCFFFF','#FFCCFF','#CC6633','#33CCFF','#000099','#6666FF','#996633','#ffffff']
    var X=[w/2,w/4,w*3/4]
    function Star(){}
    Star.prototype={
        init:function(){
            this.x=X[Math.floor(Random(0,3))]  //横坐标初始位置
            this.y=h-10  //纵坐标初始位置
            this.r=Random(0.8,1.2)  //星星的半径
            this.vX=Random(-2,2)  //横向移动速度
            this.vY=Random(-4,-2) //纵向移动速度
            this.color=aColor[Math.floor(Random(0,8))]
        },
        draw:function(){
            ctx.beginPath()
            ctx.fillStyle=this.color
            ctx.arc(this.x,this.y,this.r,0,Math.PI*2)
            ctx.fill()

            // 画一个蒙层
            // ctx.beginPath()
            // ctx.fillStyle='#000'
            // ctx.arc(w/2,h/2,50,0,Math.PI*2)
            // ctx.fill()
            // ctx.closePath()
        },
        move:function(){
            if(this.y<h && this.y>0 && this.x>0 && this.x<w){
                this.x+=this.vX
                this.y+=this.vY
            }else{
                this.init()
            }
            
            this.draw()
        }
    }

    var aStar=[] //保存所有星星的数组
    for(var i=0;i<1000;i++){
        setTimeout(function(){
            var star=new Star()
            star.init()
            star.draw()
            aStar.push(star)
        },20*i)
    }

    setInterval(function(){
        ctx.clearRect(0,0,w,h)
        for(var i=0;i<aStar.length;i++){
            aStar[i].move()
        }
        
    },1000/60)


    
</script>
</html>