<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    * {
      padding: 0;
      margin: 0;
    }
    body {
      width: 100%;
      height: 100vh;
      background: #000;
    }
  </style>
</head>
<body>
  <canvas id="canvas"></canvas>
</body>
</html>
<script src="../common/util.js"></script>
<script src="../common/ball.js"></script>
<script>
  window.onload = function () {
    var width = document.documentElement.clientWidth;
    var height = document.documentElement.clientHeight;
    var canvas = document.getElementById("canvas");
    canvas.width = width;
    canvas.height = height;
    var cxt = canvas.getContext("2d");
    var ballList = [];
    // 定义多个球形并绘制
    function drawball (num) {
      for (var i = 0; i < num; i++) {
        var ball = new Ball({ width, height })
        ball.drawBall(cxt);
        ballList.push(ball);
      }
    }
    drawball(100);  
    
    var mouseX, mouseY;
    window.onmousemove = function (e) {
      mouseX = e.clientX;
      mouseY = e.clientY;
    }
    window.onmouseout = function (e) {
      mouseX = null
      mouseY = null
    }

    // 判断画布上所有点的坐标, 若是两点间距离小于目标距离画线
    function drawLine (ballList, distance) {
      for (var i = 0; i < ballList.length; i++) {
        for (var j = i + 1; j < ballList.length; j++) {
          var disX = ballList[i].x - ballList[j].x;
          var discY = ballList[i].y - ballList[j].y;;
          if (Math.pow(disX, 2) + Math.pow(discY, 2) <= Math.pow(distance, 2)) {
            var line = new Line(ballList[i], ballList[j], '#2080f7')
            line.drawLine(cxt);
          }
        }
        // 当鼠标移动时, 若有目标点距离鼠标的距离小于目标距离时两点连线,且所有点的方向均朝向鼠标位置
        if (mouseX) {
          var disX = ballList[i].x - mouseX;
          var disY = ballList[i].y - mouseY;
          if (Math.pow(disX, 2) + Math.pow(disY, 2) <= Math.pow(distance, 2)) {
            var line = new Line({ x: mouseX, y: mouseY }, ballList[i], '#2080f7');
            line.drawLine(cxt);
            var disAngel = Math.atan2(-disY, -disX);
            ballList[i].randomAngel = disAngel;
            ballList[i].speed = 0.2;
            ballList[i].drawBall(cxt);
          } else {
            ballList[i].speed = 0.8;
            ballList[i].drawBall(cxt);
          }
        }
      }
    }
    
    var flag = false
    var scatterBall = [];
    document.documentElement.onclick = function (e) {
      flag = true;
      scatterBall = []
      var pageX = e.clientX;
      var pageY = e.clientY;
      if (scatterBall.length) {
        for (var i = 0; i < scatterBall.length; i++) {
          scatterBall[i].x = pageX;
          scatterBall[i].y = pageY;
          scatterBall[i].vx = api.getRandom(-0.6, 0.6);
          scatterBall[i].vy = api.getRandom(-4, -3);
        }
      }
      for (var i = 0; i < 30; i++) {
        var ball = new Ball({ x: pageX, y: pageY })
        scatterBall.push(ball);
      }
    };

    (function frame () {
      cxt.clearRect(0, 0, width, height);
      window.requestAnimationFrame(frame);
      for (var i = 0; i < ballList.length; i++) {
        ballList[i].moveBall();
        ballList[i].drawBall(cxt);
      } 
      drawLine(ballList, 60);
      if (flag) {
        for (var i = 0; i < scatterBall.length; i++) {
          scatterBall[i].scatterBall(cxt, function () {
            flag = false;
          });
        }
      }
    })();
  }
</script>