.timeTab{
   width: 100%;
   padding: 10px;
   border: 1px solid #ccc;
   margin: 100px auto;
   font-size: 14px;
} 
.timeTab .YandM{
   height: 40px;
   line-height: 40px;
   display: flex;
   justify-content: space-between;
   padding: 0 16px;
}
.timeTab .YandM>div{
   display: flex;
}
.timeTab .YandM>div span.font_family{
   margin: 0 5px;
   cursor: pointer;
   color: #4d4d4d;
   font-size: 22px;
}
.timeTab .YandM>div span.time{
   font-size: 18px;
   color: #2080f7;
}
.timeTab .YandM>div span.font_family:hover{
   color: #2080f7;
}
.timeTab .YandM>div span.icon-first,.timeTab .YandM>div span.icon-last{
   font-size: 25px;
}
.timeTab .week{
   padding: 10px 10px 0 10px;
}
.timeTab .week ul{
   display: flex;
}
.timeTab .week ul li{
   width: 14.28%;
   text-align: center;
}
.weekend{
   color: #e02d2d;
}
.timeTab .day{
   padding: 0 10px;
   margin-top: 12px;
}
.timeTab .day ul{
   display: flex;
   flex-wrap: wrap;
}
.timeTab .day ul li{
   width: 14.28%;
   height: 46px;
   display: flex;
   align-items: center;
   justify-content: center;
   box-sizing: border-box;
   border-bottom: 1px solid #f1f1f1;
}
.timeTab .day ul li.grey{
   color: #999;
}
.nowday{
   color: orange;
   border: 2px solid orange !important;
}
ul li:hover{
   cursor: pointer;
}
ul li:not(.weekend):hover{
   color: #2080f7;
}
ul li.nowday:hover{
   border: 2px solid #2080f7 !important;
}