<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>pagation</title>
    <link rel="stylesheet" href="./index.css">
    <link rel="stylesheet" href="./font/iconfont.css">
    <script src="./pagation.js"></script>
    <style>
        *{
            margin: 0;
            padding: 0;
            list-style: none;
        }
        .div{
            margin: 100px auto;
            width: 800px;
            border: 1px solid #e5e5e5;
        }
    </style>
</head>
<body>
    <div class='div'>
        <div class='pagation' id='pagation'></div>
    </div>
    <script>
        function getData (cur) {
            setTimeout(() => {
                var pageInfo = {
                    allList: 400,
                    pageNum: 700,
                    pageNow: cur,
                }
                var pagetion = new Pagation('pagation', pageInfo, function (pageNow) {
                    getData(pageNow)
                });
                pagetion.init();
                console.log(cur);
            },100)
        }
        getData(1)
    </script>
</body>
</html>