@font-face {
  font-family: "iconfont"; /* Project id 2528571 */
  src: url('iconfont.woff2?t=1620280020618') format('woff2'),
       url('iconfont.woff?t=1620280020618') format('woff'),
       url('iconfont.ttf?t=1620280020618') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconwx-share:before {
  content: "\e601";
}

.iconwx-back:before {
  content: "\e600";
}

